{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <link rel="stylesheet" href="web/css/index.css">
    <link rel="stylesheet" href="web/css/event_table.css">
    <link rel="stylesheet" href="web/css/header.css">
    <link rel="stylesheet" href="web/css/login_form.css">
    <title>Sit Log</title> 
</head>
<body>
    <header>
        <p id="site-name">SitLog</p>
        <svg id="profile-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
            <circle cx="15" cy="15" r="15" fill="#C4C4C4" />
            <circle cx="15" cy="10" r="5" fill="#FFFFFF" />
            <ellipse cx="15" cy="20" rx="10" ry="5" fill="#FFFFFF" />
        </svg>
    </header>
    {{ if .IsLoggedIn }}
        {{ template "event_list" .Events }}
        <script src="web/js/event_list.js"></script>
    {{ else }}
        {{ template "login" . }}
    {{ end }}
</body>
</html>
{{ end }}