{{ block "header" . }}
<header>
    <!-- <svg id="logo" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <circle cx="6" cy="6" r="3" fill="#4CAF50"/>
        <circle cx="14" cy="6" r="2.5" fill="#FFC107"/>
        <path d="M4 10 Q6 15, 8 10 Z" fill="#4CAF50"/>
        <path d="M12 10 Q14 13, 16 10 Z" fill="#FFC107"/>
    </svg> -->
    <p id="site-name">Sit Log</p>
    <svg id="profile-icon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
        <circle cx="15" cy="15" r="15" fill="#C4C4C4" />
        <circle cx="15" cy="10" r="5" fill="#FFFFFF" />
        <ellipse cx="15" cy="20" rx="10" ry="5" fill="#FFFFFF" />
    </svg>
</header>
{{ end }}