{{ block "header" . }}
<link rel="stylesheet" href="static/css/header.css">
<header>
    <div>
        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="3" fill="#4CAF50"/>
            <circle cx="14" cy="6" r="2.5" fill="#FFC107"/>
            <path d="M4 10 Q6 15, 8 10 Z" fill="#4CAF50"/>
            <path d="M12 10 Q14 13, 16 10 Z" fill="#FFC107"/>
          </svg>
    </div>
    <div>
        <p>Sit Log</p>
    </div>
</header>
{{ end }}