{{ block "event_list" . }}
<div id="table-container">
    <div id="search-add-bar">
        <button id="add-button">
            <svg id="add-button-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="#ffffff">
                <circle cx="12" cy="12" r="10" fill="#009879" />
                <path d="M12 7v10m5-5H7" stroke="#ffffff" stroke-width="2" stroke-linecap="round" />
            </svg>
            <svg id="minus-button-icon" class="hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="#ffffff">
                <circle cx="12" cy="12" r="10" fill="#009879" />
                <path d="M7 12h10" stroke="#ffffff" stroke-width="2" stroke-linecap="round" />
            </svg>
        </button>
    </div>
    <form 
        id="new-event-form"
        class="hidden"
        hx-target="#table-container"
        hx-swap="outerHTML swap:2s" 
        hx-post="/create_event">
        <div class="form-group">
            <label for="child_name">Child</label>
            <select id="child_name" name="child_name" required>
                <option value="" disabled selected>Select event type</option>
                <option value="Daisy">Daisy</option>
            </select>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select id="type" name="type" required>
                <option value="" disabled selected>Select event type</option>
                <option value="Nap">Nap</option>
                <option value="Feeding">Feeding</option>
                <option value="Diaper Change">Diaper Change</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" id="description" name="description" placeholder="Enter event description" required>
        </div>
        <div class="form-group">
            <label for="start_time">Start Time</label>
            <input type="datetime-local" id="start_time" name="start_time" required>
        </div>
        <div class="form-group">
            <label for="end_time">End Time</label>
            <input type="datetime-local" id="end_time" name="end_time" required>
        </div>
        <button id="create-event-button" type="submit">Create Event</button>
    </form>
    <table id="event-table">
        <thead>
            <tr>
                <th>timestamp</th>
                <th>event</th>
                <th>description</th>
                <th>start time</th>
                <th>end time</th>
                <th>duration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
                <tr>
                    <td>{{ .TimeStamp }}</td>
                    <td>{{ .Type }}</td>
                    <td>{{ .Description }}</td>
                    <td>{{ .StartTime }}</td>
                    <td>{{ .EndTime }}</td>
                    <td>{{ .Duration }}</td>
                    <td>
                        <button class="edit-btn"></button>
                        <button class="delete-btn"></button>
                    </td>
                </tr>
            {{ end }}
        </tbody>
    </table>
    <div id="alertBox" class="alert hidden">
        Event added!
    </div>
</div>
{{ end }}
